@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body {
    background-color: rgb(22, 22, 22);
    color: rgb(207, 207, 207);
    height: 100vh;
}

.lancer {
    width: 100vw;
    height: 100vh;
    margin: auto auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    font-size: 5em;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    section {
        justify-items: stretch;
        align-items: stretch;
        border: 1px white solid;
        width: 48vw;
        height: 48vh;
        text-align: center;
        h2 {
            text-align: center;
            padding: 0;
            margin: 0;
        }
    }
}

.gridou {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    div {
        justify-items: stretch;
        align-items: stretch;
    }
}

.h-50 {
    width: 100% !important;
}