@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body {
    background-color: rgb(22, 22, 22);
    color: rgb(207, 207, 207);
    height: 100vh;
}

@media only screen and (min-width: 503px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
        section {
            justify-items: stretch;
            align-items: stretch;
            border: 1px white solid;
            width: 49vw;
            height: 47vh;
            text-align: center;
            h2 {
                text-align: center;
                padding: 0;
                margin: 0;
            }
        }
    }
    .gridou {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        div {
            justify-items: stretch;
            align-items: stretch;
        }
    }
    .h-50 {
        width: 100% !important;
    }
}

@media only screen and (max-width: 502px) {
    main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 10px;
        section {
            justify-items: stretch;
            align-items: stretch;
            border: 1px white solid;
            width: 95vw;
            height: 47vh;
            text-align: center;
            h2 {
                text-align: center;
                padding: 0;
                margin: 0;
            }
        }
    }
    .gridou {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        div {
            justify-items: stretch;
            align-items: stretch;
        }
    }
    .h-50 {
        width: 100% !important;
    }
}